*, *:before, *:after{
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

p,h1,h2,{
	margin-top: 0;
}

p{
	line-height: 1.5;
	margin-bottom: 1.5rem;
	font-weight:300;
}

strong{
	font-weight: 700;
}

a{
	text-decoration: underline;
	color:#C7462A;
}

h1{
	margin-bottom: 1.5rem;
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 1.25;
}

h2{
	margin-bottom: 1.5rem;
    font-weight: 500;
    font-size: 1.6875rem;
    line-height: 1.25;
    color: #FF5A36;
}

h3{
	margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.6875rem;
    line-height: 1;
    color: #FF5A36;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body{
	height: 100%;
    background-color: #fff;
    font-family: 'Lato',Arial,sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1;
    color: #3D4B52;
    -webkit-tap-highlight-color: transparent;
}

/*Top level*/
.wrap-body{
	display:table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	background-color: white;
}

.sizefix{
	max-width: 48rem;
}

.sizewide{
	max-width: 63rem;
}

.centered{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.left-aligned{
	float:left;
}

.right-aligned{
	float:right;
}

.center-text{
	text-align: center;
}

.figure-caption{
	color: #FF5A36;
	font-weight:500;
	margin-bottom: 0;
}

.clearfix:after{
	display: table;
    content: '';
    clear: both;
}

.btn{
	transition-property: border-color, background-color;
    transition-duration: 0.125s;
    position: relative;
    display: inline-block;
    border: solid 2px #D7EAF5;
    border-radius: 0.25rem;
    padding: 0.75rem 1.25rem 0.6875rem 1.25rem;
    font-size: 1.3125rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    color: #6F90A4;
}

.btn:hover{
	border-color: #FF5A36;
    background-color: #FF5A36;
    color: white;
}

/*header*/
.header-bar{
	transition: height 0.25s, box-shadow 0.25s, background-color 0.125s;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 6.25rem;
    background-color: transparent;
    box-shadow: none;
}

.header-bar.-sticky{
	height: 3.75rem;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,0.12);
}

.header-bar-nav{
	padding-left:0;
	list-style: none;
}

.header-bar-nav>li{
	display: inline-block;
}

.header-bar-logo>a{
	color: #FF5A36;
}

.header-bar-logo{
	transition: opacity 0.125s, padding-top 0.25s, width 0.25s, height 0.25s;
	padding-top: 3.9375rem;
    padding-left: 0rem;
	margin-left: auto;
	font-weight: 700;
    text-transform: uppercase;
}

.header-bar-logo>a{
	text-decoration: none;
	font-size: 2rem;
}

.header-bar-nav-item{
	transition: opacity 0.35s, padding-top 0.25s;
    display: inline-block;
    float: left;
    padding-top: 3.9375rem;
    padding-left: 1rem;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF5A36;
}

.header-bar-nav-item.-active{
    color: #0891e1;
}

.header-bar-nav-item:hover{
	color: #0891e1;
}

.header-bar-nav-item>p{
	transition:color 0.125s;
	cursor:pointer;
	margin-bottom: 0;
	font-size:0.875rem;
	font-weight: 600;
}

/*header sticky*/

.header-bar.-sticky{
	height: 3.75rem;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,0.12);
}

.header-bar.-sticky .header-bar-nav-item{
    padding-top: 1.75rem;
    padding-bottom: 0.9375rem;
}

.header-bar.-sticky .header-bar-logo{
	padding-top: 1.2rem;
	padding-bottom: 0.9375rem;
}

/*landing-header*/
.landing-header{
	padding-top: 10rem;
	padding-bottom: 0.5rem;
}

.landing-header-title{
	margin-bottom: 0;
	font-size:3rem;
	font-weight: 700;
	text-align: center;
	line-height: 1.1;
	color: #FF5A36;
}

.landing-header-subtitle{
	margin-bottom: 1.5rem;
	font-weight: 400;
	text-align: center;
	line-height: 1;
	color: #FF5A36;
}

.landing-header-about{
	margin-left: auto;
	margin-right: auto;
	max-width: 32rem;
	font-size: 1.4rem;
	color: #FF5A36;
}

/*landing-work*/
.landing-work{
	padding-left: 0;
	padding-right: 0;
}

.landing-work-title{
	text-align: center;
}

.landing-work-item-preview{
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    top: 50%;
    width: 36%;
    padding-left: 1rem;
    padding-right: 1.5rem;
    text-align: center;
}

.landing-work-item-preview>svg{
	float:right;
	max-width: 6rem;
	max-height: 6rem;
	fill:white;
}

.landing-work-item-content{
	transform: translateY(-50%);
	position: absolute;
	left: 36%;
	top:50%;
	width: 64%;
	padding-right: 1rem;
}

.landing-work-item{
	transition: box-shadow 0.125s;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	max-width: 45rem;
	height:7.5rem;
	color: white;
	box-shadow: inset 0 0 0 0 white;
}

.landing-work-item:hover{
	box-shadow: inset 0 0 0 0.375rem #fff;
}

.landing-work-item-title{
	margin-bottom: 0;
	font-size: 1.3125rem;
	font-weight: 500;
	color: inherit;
}

.landing-work-item-subtitle{
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 300;
	color: inherit;
}

.landing-work-item-anchor{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.landing-work-item-dragon{
	background-color: #008080;
}

.landing-work-item-lampno6{
	background-color: #b69570;
}

.landing-work-item-visier{
	background-color: #5988ff;
}

.landing-work-item-wayfind{
	background-color: #d60036;
}

.landing-work-item-breathless{
	background-color: #000;
}

/*footer*/
.footer{
	display: table-row;
	height: 1px;
}

.footer-contact{
	padding-top: 3rem;
	font-size: 1.3125rem;
	text-align: center;
	color: #6F90A4;
}

.footer-contact-btn{
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}

.footer-socialmedia{
	padding-left: 0;
	font-weight: 500;
	text-align: center;
	list-style: none;
}

.footer-socialmedia>li{
	display: inline-block;
}

.btn-social-media{
	transition:color 0.35s;
	width: 32px;
	height: 32px
}

.btn-social-media:hover{
	color: #0891e1;
}

.btn-youtube{
	transition:color 0.35s;
	font-size: 6rem !important;
	color:black;
}

.btn-youtube:hover{
	color: #cd201f;
}

.footer-copyright{
	margin-top:1rem;
	margin-bottom: 3rem;
	font-size: 1rem;
	text-align: center;
	color:#6F90A4;
}

/*transition*/
.enter-transition-target{
	transition: opacity 0.35s;
    opacity: 0;
    /*transform: translateY(-25px);*/
}
.-loaded{
    opacity: 1;
    /*transform: translateY(0);*/
}
.-unloading{
	opacity: 0;
	/*transform: translate(-25px);*/
}

/*work pages*/
.work-title{
	margin-top:1.5rem;
	text-align: center;
}

.work-subtitle{
	margin-top:1.5rem;
	text-align: left;
}

.work-figure{
	padding-left: 1.5rem;
	padding-right:1.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	margin-bottom: 1.5rem;
}

.work-figure-full{
	text-align: center;
	margin-bottom: 1.5rem;
}

.work-img{
	max-width: 100%;
	width: auto;
}

.work-summary{
	color: #10358F;
}

/*about pages*/
.about-wrapper{
	min-height: 26.25rem;
}
.about-header{
	width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.about-pic-wrapper{
	padding-top: 9.75rem;
	padding-bottom: 0.5rem;
	width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.about-pic{
	margin-right:auto;
	margin-left:auto;
	width:150px;
	height:150px;
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	background-size: cover;
	background-image: url("../images/patpiccircle.jpg");
}
.about-header-title{
	margin-bottom: 0.5rem;
	font-weight: 700;
	text-align: left;
	line-height: 1.25;
	color: #FF5A36;
}

.about-header-subtitle{
	margin-bottom: 1.5rem;
	font-weight: 300;
	text-align: left;
	line-height: 1.5;
	color: #FF5A36;
}

.about-header-about{
	margin-left: auto;
	margin-right: auto;
	max-width: 32rem;
	font-size: 1.3125rem;
	color: #FF5A36;
}

.resume-btn{
	text-align: center;
}

.visier-title{
	color:#1441B8;
}

.visier-subtitle{
	color:#5B87FF;
}

.qe-title{
	font-size:2rem;
}

.video-wrap{
	position: relative;
	padding-bottom: 56.25%; /* 16:9*/
	padding-top: 25px;
	height: 0;
}

.video-wrap iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*FOR LARGE FORMAT SCREENS*/
@media only screen and (min-width: 481px){
	p{
		font-size: 1.125rem;
	}

	.centered{
		padding-left:1.5rem;
		padding-right:1.5rem;
	}

	.landing-header{
		padding-bottom:1rem;
	}

	.landing-header-about{
		font-size:1.3125rem;
	}

	.landing-header-title{
		font-size: 4rem;
	}

	.landing-header-subtitle{
		font-size: 1.6875rem;
	}

	.landing-work-item{
		margin-bottom: 0.5rem;
		height: 10rem;
	}

	.footer-social>li{
		margin:0 0.75rem;
	}
	.about-header{
		float:left;
		margin-left:auto;
		padding-top: 10rem;
		padding-bottom: 0.5rem;
		width:66%;
		display: inline-block;
	}

	.about-pic-wrapper{
		float:right;
		padding-top: 10rem;
		padding-bottom: 0.5rem;
		width:33%;
		display: inline-block;
	}
	.about-pic{
		margin-right:auto;
		width:200px;
		height:200px;
		border-radius: 100px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		background-size: cover;
		background-image: url("../images/patpiccircle.jpg");
	}
	.about-header-title{
		margin-bottom: 1.5rem;
		font-weight: 700;
		text-align: left;
		line-height: 1.25;
		color: #FF5A36;
	}

	.about-header-subtitle{
		margin-bottom: 1.5rem;
		font-weight: 300;
		text-align: left;
		line-height: 1.5;
		color: #FF5A36;
	}
}
