/* Size fixing and pre-adjustments*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html{
  height:100%;
}

/* From exising portfolio */
/* Main elements */
body{
  height: 100%;
  background-color: #fff;
  font-family: 'Lato',Arial,sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1;
  color: #3D4B52;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

p{
	line-height: 1.5;
	margin-bottom: 1.5rem;
	font-weight:300;
}

h1{
	margin-bottom: 1.5rem;
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 1.25;
}

h2{
	margin-bottom: 1.5rem;
    font-weight: 500;
    font-size: 1.6875rem;
    line-height: 1.25;
    color: #FF5A36;
}

h3{
	margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.6875rem;
    line-height: 1;
    color: #FF5A36;
}

/* Alignment classes */
.fixedsize {
  max-width: 960px;
}

.centered{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

/* https://stackoverflow.com/questions/1179928/how-can-i-put-a-vertical-line-down-the-center-of-a-div */
/* Used to center align items visually */
.centerline{
  position: absolute;
   width:100%;
   height:100%;
   background: linear-gradient(to right,
                               transparent 0%,
                               transparent calc(50% - 0.81px),
                               black calc(50% - 0.8px),
                               black calc(50% + 0.8px),
                               transparent calc(50% + 0.81px),
                               transparent 100%);
}

/* header stuff */
.hero{
  margin-top: 10%;
  text-align: center;
  padding-bottom: 3%;
}

/* section container*/
.section-container{
  padding-bottom: 5%;
}

/* project preview */
.project-preview{
  height: 300px;
}
.display-container{
  display: block;
  position: relative;
  height: auto;
  /*border: 1px solid #000;*/
}

.display-container *{
  position: absolute;
}
.display-container .item-left{
  margin: 10% 25% 10% 10px;
  border: 1px solid #000;
}
.display-container .item-right{
  margin: 10% 25% 10% 150px;
  border: 1px solid #000;
}

.project-preview-background{
  opacity: 0.25;
  z-index: 1;
  top:50px;
  left:50px;
}

.project-preview-background-block{
  background-color: green;
  height: 250px;
  width: 350px;
}

.temp-red{
  background-color: red;
  height: 100px;
  width: 200px;
}

.logo {
}

.logo-personal {
  margin:0 auto;
  display: block;
}

.project-preview-paragraph p {
  color: #6441A4;
  font-weight: 500;
  font-size: 1.2rem;
  top: 6.5rem;
  left: 3rem;
  z-index: 2;
}

.item-twitch .project-preview-paragraph{
  width:300px;
  display: block;
  background-color: blue;
  left: 12rem;
  top: 8rem;
  padding:0;

}
.item- .project-preview-paragraph{
  background-color: green;
}


/*footer from existing portfolio*/
footer ul{
  list-style-type: none;
}

footer li{
  margin-top: 0.5em;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: inline-block;
}

.footer{
	display: table-row;
	height: 1px;
  text-align: center;
  margin-top:5%;

}

.footer-contact{
	padding-top: 3rem;
	font-size: 1.3125rem;
	text-align: center;
	color: #6F90A4;
}

.footer-contact-btn{
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}

.footer-copyright{
	margin-top:1rem;
	margin-bottom: 3rem;
	font-size: 1rem;
	text-align: center;
	color:#6F90A4;
}

/* http://cssmojo.com/the-very-latest-clearfix-reloaded/ */
.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}
