/* Size fixing and pre-adjustments*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html{
  height:100%;
}

/* From exising portfolio */
/* Main elements */
body{
  height: 100%;
  background-color: #fff;
  font-family: 'Lato',Arial,sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1;
  color: #3D4B52;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p{
	line-height: 1.5;
	margin-bottom: 3%;
	font-weight:300;
  font-size:1.5rem;
}

h1{
	margin-bottom: 1.5rem;
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 1.25;
}

h2{
	margin-bottom: 1.5rem;
    font-weight: 500;
    font-size: 1.6875rem;
    line-height: 1.25;
}

h3{
	margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.6875rem;
    line-height: 1;
}

/* Alignment classes */
.fixedsize {
  max-width: 960px;
}

.centered{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

/* https://stackoverflow.com/questions/1179928/how-can-i-put-a-vertical-line-down-the-center-of-a-div */
/* Used to center align items visually */
.centerline{
  position: absolute;
   width:100%;
   height:100%;
   background: linear-gradient(to right,
                               transparent 0%,
                               transparent calc(50% - 0.81px),
                               black calc(50% - 0.8px),
                               black calc(50% + 0.8px),
                               transparent calc(50% + 0.81px),
                               transparent 100%);
}

/* header stuff */
.header-container{
  height:60px;
}
.header{
  padding: 20px 40px;
  position: fixed;
  /* https://stackoverflow.com/questions/25982135/why-does-left-50-transform-translatex-50-horizontally-center-an-element */
  /* This centers it across all devices!*/
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;

  transition: all 0.5s ease-in-out;
}
/* http://webdesignerwall.com/tutorials/easy-css-animation-transition-transforms */
/* CSS translations */
.header.-sticky{
  width: 100%;
}

.header div{
  display:inline-block;
}

.header .name{
  float:left;
}

.header .links{
  float:right;
}

.header a{
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.header a:hover{
  text-decoration: underline;
}

.header a:visited{
  color:black;
}

.links{
  display: flex;
}

.links a{
  margin-right: 1rem;
}

.links a{
  display: inline-block;
}

.socialmedia{
  margin-top: 7%;
}

.socialmedia a{
  color:black;
  transition: all 0.2s ease-in-out
}

.socialmedia a:hover{
  color:#FF5A36;
}

.socialmedia li{
margin: 0 2%;
}

/* hero stuff */
.hero{
  margin-top: 10%;
  text-align: center;
  padding-bottom: 3%;
}

/* section container*/
.section-container{
  padding-bottom: 5%;
}

/* project preview */
.project-preview{
  height: 300px;
}
.display-container{
  display: block;
  height: 250px;
  /*border: 1px solid #000;*/
}

.project-preview-background{
  /*opacity: 0.25;
  background-color: #6441A4;
  width:100%;*/
  display:none;
}

.logo {
}

.logo-personal {
  margin:0 auto;
  display: block;
}

.project-preview-paragraph p {
  color: #6441A4;
  font-weight: 500;
  font-size: 1.2rem;
}

.item-twitch{
  background-color: rgba(100,65,164,0.25);
  width:100%;
  text-align: center;
}

.item-twitch .project-preview-paragraph{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.socialmedia{
  text-align: center;
}

.socialmedia li{
  display:inline-block;
}

/* Project Pages */
.page-title{
  margin-top: 10%;
  text-align: center;
  padding-bottom: 3%;
  font-size: 3rem;
}

.page-twitch h1{
  color: #6441A4;
}
.page-twitch a{
  color: #6441A4;
}

.large-margins{
  margin-top:5%;
  margin-bottom:5%;
}

.center-block-title{
  margin-top: 3%;
  text-align: left;
  margin-bottom: 2%;
  font-size: 2rem;
}

.center-block-subtitle{
  margin-top: 10%;
  text-align: left;
  margin-bottom: 1.3rem;
  font-size: 2rem;
}

.caption{
  text-align: center;
  font-size:1rem;
  font-weight:300;
}

/*footer from existing portfolio*/
footer ul{
  list-style-type: none;
}

footer li{
  margin-top: 0.5em;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: inline-block;
}

.footer{
	display: table-row;
	height: 1px;
  text-align: center;
  margin-top:10%;
}

.footer-contact{
	padding-top: 3rem;
	font-size: 1.3125rem;
	text-align: center;
	color: #6F90A4;
}

.footer-copyright{
	margin-top:1rem;
	margin-bottom: 3rem;
	font-size: 1rem;
	text-align: center;
	color:#6F90A4;
}

.cite-item{
  margin-top:5%;
  margin-bottom:3%;
}

.style-item{
  margin-top:5%;
  margin-bottom:3%;
}
.style-item h3{
  margin-top:2%;
  margin-bottom:2%;
}

/* http://cssmojo.com/the-very-latest-clearfix-reloaded/ */
.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

@media only screen and (min-width: 481px){
  p{
  	line-height: 1.5;
  	margin-bottom: 3%;
  	font-weight:300;
    font-size:1.5rem;
  }

  h1{
  	margin-bottom: 1.5rem;
  	font-weight: 700;
  	font-size: 2.25rem;
  	line-height: 1.25;
  }

  h2{
  	margin-bottom: 1.5rem;
      font-weight: 500;
      font-size: 1.6875rem;
      line-height: 1.25;
  }

  h3{
  	margin-bottom: 1rem;
      font-weight: 500;
      font-size: 1.6875rem;
      line-height: 1;
  }

  /* http://webdesignerwall.com/tutorials/easy-css-animation-transition-transforms */
  /* CSS translations */
  .header.-sticky{
    width: 66%;
  }

  .socialmedia{
    margin-top: 5%;
  }

  /* hero stuff */
  .hero{
    margin-top: 10%;
    text-align: center;
    padding-bottom: 3%;
  }

  /* section container*/
  .section-container{
    padding-bottom: 5%;
  }

  /* project preview */
  .project-preview{
    height: 300px;
  }
  .display-container{
    display: block;
    position: relative;
    height: auto;
    /*border: 1px solid #000;*/
  }

  .display-container *{
    position: absolute;
  }
  .display-container .item-left{
    margin: 10% 25% 10% 10px;
    border: 1px solid #000;
  }
  .display-container .item-right{
    margin: 10% 25% 10% 150px;
    border: 1px solid #000;
  }

  .logo{
    left:-3rem;
  }

  .project-preview-background{
    display:block;
    opacity: 0.25;
    z-index: 1;
    top:50px;
    left:50px;
  }

  .project-preview-paragraph p {
    color: #6441A4;
    font-weight: 500;
    font-size: 1.2rem;
    top: 6.5rem;
    left: -4rem;
    width:300px;
    z-index: 2;
  }

  .item-twitch .project-preview-paragraph{
    display: block;
    left: 12rem;
    top: 8rem;
    padding:0;
  }
  .large-margins{
    margin-top:5%;
    margin-bottom:5%;
  }

  .center-block-title{
    font-size: 3rem;
  }
  .center-block-subtitle{
    margin-top: 3%;
  }

  .footer{
    margin-top: 5%;
  }
}
